<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headPart :: head">
<script src="https://use.fontawesome.com/c0c323679c.js"></script>


<body>

<!-- Navigation bar -->
<nav th:replace="fragments/navbarPart :: nav"></nav>

<!-- Jubotron -->
<header id="home-section" style="background-image: url('images/home.jpg');">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <div class="jumbotron" style="opacity: 0.9;">
                            <h4 class="display-5">Hello Students!</h4>
                            <p class="lead">They Don't Know That We Know They Know We Know</p>
                            <hr class="my-4">
                            <p>This is a site for sharing your homeworks and projects.</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>


<aside></aside>


<!-- Footer -->
<footer th:replace="fragments/footerPart :: footer"></footer>

<div th:replace="fragments/jsScript :: scripts"></div>

</body>
</html>